<!-- This is noncompliant html on purpose! -->
<style>
 * { box-sizing: border-box; }

 .image {
     margin: -5px;
     width: 15%;
     border-color: transparent;
     border-style: solid;
     border-width: 10px;
 }

 .selected {
     border-color: red;
 }
</style>

<div class="col-xs-12">
    <button class="btn btn-large btn-success pick-a-movie">Pick a movie for me</button>
</div>
<div class="col-xs-12">
    {% for image in images %}

    <img class="image poster" src="{{ image }}"></img>

    {% endfor %}
</div>
{% include "all_the_stuff.html" %}
<script>
 var posters = $(".poster");

 $(".btn.pick-a-movie").on("click", function(event) {
     var count = posters.length;
     var pick = Math.floor(Math.random() * count);
     posters.removeClass("selected");
     console.log(pick);
     $(posters.get(pick)).addClass("selected");
 });
</script>
