<!-- This is noncompliant html on purpose! -->
{% extends "base.html" %}

{% block content %}
<h1>Movie picking thingy</h1>
<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" href="/">Take me home</a>
        <button class="btn btn-large btn-success pick-a-movie">Pick a movie for me</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12">
        {% for image in images %}
        <div class="poster image">
            <img src="{{ image.url }}"></img>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
 $(function(){
     var posters = $(".poster");
     function Pick(number){ return $(posters.get(number)); }

     $(".btn.pick-a-movie").on("click", function(event) {
         var count = posters.length;
         var pick = Math.floor(Math.random() * count);
         var secondsOfTorture = Math.floor(Math.random() * (90-15))+15;
         var currentFake = Math.floor(Math.random() * count);

         var blinkTheThing = function(pick){
             posters.removeClass("selected");
             Pick(pick).addClass("selected");
         };

         secondsOfTorture = secondsOfTorture*2;

         setTimeout(function(){
             blinkTheThing(pick);
             Pick(pick).effect("pulsate");
         }, secondsOfTorture*500);

         while (secondsOfTorture > 0) {
             setTimeout(function(){
                 var oldFake = currentFake;
                 while (oldFake == currentFake) {
                     currentFake = Math.floor(Math.random() * count);
                 }

                 blinkTheThing(currentFake);
             }, (secondsOfTorture-1)*500);
             secondsOfTorture -= 1;
         }
     });
 });

</script>
{% endblock %}
